/*
 *キャラクター表示ポジションの設定
 */

#sannosuke {
  position: fixed;
  bottom: 0px;
  right: 380px;
}

#sannosuke-koe0 {
  position: fixed;
  bottom: 175px;
  right: 410px;
}

#sannosuke-kotoba0 {
  position: fixed;
  bottom: 185px;
  right: 413px;
  width: 170px;
  height: 85px;
}

#sannosuke-koe1 {
  position: fixed;
  bottom: 280px;
  right: 410px;
}

#sannosuke-kotoba1 {
  position: fixed;
  bottom: 290px;
  right: 413px;
  width: 170px;
  height: 85px;
}

#sannosuke-koe2 {
  position: fixed;
  bottom: 385px;
  right: 410px;
}

#sannosuke-kotoba2 {
  position: fixed;
  bottom: 395px;
  right: 413px;
  width: 170px;
  height: 85px;
}

#sakube {
  position: fixed;
  bottom: 0px;
  right: 220px;
}

#sakube-koe0 {
  position: fixed;
  bottom: 175px;
  right: 210px;
}

#sakube-kotoba0 {
  position: fixed;
  bottom: 185px;
  right: 213px;
  width: 170px;
  height: 85px;
}

#sakube-koe1 {
  position: fixed;
  bottom: 280px;
  right: 210px;
}

#sakube-kotoba1 {
  position: fixed;
  bottom: 290px;
  right: 213px;
  width: 170px;
  height: 85px;
}

#sakube-koe2 {
  position: fixed;
  bottom: 385px;
  right: 210px;
}

#sakube-kotoba2 {
  position: fixed;
  bottom: 395px;
  right: 213px;
  width: 170px;
  height: 85px;
}

#samon {
  position: fixed;
  bottom: 0px;
  right: 20px;
}

#samon-koe0 {
  position: fixed;
  bottom: 175px;
  right: 10px;
}

#samon-kotoba0 {
  position: fixed;
  bottom: 185px;
  right: 13px;
  width: 170px;
  height: 85px;
}

#samon-koe1 {
  position: fixed;
  bottom: 280px;
  right: 10px;
}

#samon-kotoba1 {
  position: fixed;
  bottom: 290px;
  right: 13px;
  width: 170px;
  height: 85px;
}

#samon-koe2 {
  position: fixed;
  bottom: 385px;
  right: 10px;
}

#samon-kotoba2 {
  position: fixed;
  bottom: 395px;
  right: 13px;
  width: 170px;
  height: 85px;
}
