/*
 *
 */

#sannosuke {
  position: fixed;
  bottom: 0px;
  right: 380px;
}

#sannosuke-koe0 {
  position: fixed;
  bottom: 175px;
  right: 420px;
}

#sannosuke-kotoba0 {
  position: fixed;
  bottom: 190px;
  right: 428px;
  width: 100px;
  height: 50px;
}

#sannosuke-koe1 {
  position: fixed;
  bottom: 255px;
  right: 420px;
}

#sannosuke-kotoba1 {
  position: fixed;
  bottom: 270px;
  right: 428px;
  width: 100px;
  height: 50px;
}

#sannosuke-koe2 {
  position: fixed;
  bottom: 335px;
  right: 420px;
}

#sannosuke-kotoba2 {
  position: fixed;
  bottom: 350px;
  right: 428px;
  width: 100px;
  height: 50px;
}

#sakube {
  position: fixed;
  bottom: 0px;
  right: 220px;
}

#sakube-koe0 {
  position: fixed;
  bottom: 175px;
  right: 240px;
}

#sakube-kotoba0 {
  position: fixed;
  bottom: 190px;
  right: 248px;
  width: 100px;
  height: 50px;
}

#sakube-koe1 {
  position: fixed;
  bottom: 255px;
  right: 240px;
}

#sakube-kotoba1 {
  position: fixed;
  bottom: 270px;
  right: 248px;
  width: 100px;
  height: 50px;
}

#sakube-koe2 {
  position: fixed;
  bottom: 335px;
  right: 240px;
}

#sakube-kotoba2 {
  position: fixed;
  bottom: 350px;
  right: 248px;
  width: 100px;
  height: 50px;
}

#samon {
  position: fixed;
  bottom: 0px;
  right: 20px;
}

#samon-koe0 {
  position: fixed;
  bottom: 175px;
  right: 40px;
}

#samon-kotoba0 {
  position: fixed;
  bottom: 190px;
  right: 48px;
  width: 100px;
  height: 50px;
}

#samon-koe1 {
  position: fixed;
  bottom: 255px;
  right: 40px;
}

#samon-kotoba1 {
  position: fixed;
  bottom: 270px;
  right: 48px;
  width: 100px;
  height: 50px;
}

#samon-koe2 {
  position: fixed;
  bottom: 335px;
  right: 40px;
}

#samon-kotoba2 {
  position: fixed;
  bottom: 350px;
  right: 48px;
  width: 100px;
  height: 50px;
}
