/*
 *キャラクター表示ポジションの設定
 */

#sannosuke {
  position: fixed;
  bottom: 0px;
  right: 400px;
}

#sannosuke-balloon0 {
  position: fixed;
  bottom: 200px;
  right: 400px;
}

#sannosuke-message0 {
  position: fixed;
  bottom: 220px;
  right: 420px;
  width: 160px;
  height: 80px;
}

#sannosuke-balloon1 {
  position: fixed;
  bottom: 310px;
  right: 400px;
}

#sannosuke-message1 {
  position: fixed;
  bottom: 330px;
  right: 420px;
  width: 160px;
  height: 80px;
}

#sannosuke-balloon2 {
  position: fixed;
  bottom: 420px;
  right: 400px;
}

#sannosuke-message2 {
  position: fixed;
  bottom: 440px;
  right: 420px;
  width: 160px;
  height: 80px;
}

#sakube {
  position: fixed;
  bottom: 0px;
  right: 200px;
}

#sakube-balloon0 {
  position: fixed;
  bottom: 200px;
  right: 200px;
}

#sakube-message0 {
  position: fixed;
  bottom: 220px;
  right: 220px;
  width: 160px;
  height: 80px;
}

#sakube-balloon1 {
  position: fixed;
  bottom: 310px;
  right: 200px;
}

#sakube-message1 {
  position: fixed;
  bottom: 330px;
  right: 220px;
  width: 160px;
  height: 80px;
}

#sakube-balloon2 {
  position: fixed;
  bottom: 420px;
  right: 200px;
}

#sakube-message2 {
  position: fixed;
  bottom: 440px;
  right: 220px;
  width: 160px;
  height: 80px;
}

#samon {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#samon-balloon0 {
  position: fixed;
  bottom: 200px;
  right: 0px;
}

#samon-message0 {
  position: fixed;
  bottom: 220px;
  right: 20px;
  width: 160px;
  height: 80px;
}

#samon-balloon1 {
  position: fixed;
  bottom: 310px;
  right: 0px;
}

#samon-message1 {
  position: fixed;
  bottom: 330px;
  right: 20px;
  width: 160px;
  height: 80px;
}

#samon-balloon2 {
  position: fixed;
  bottom: 420px;
  right: 0px;
}

#samon-message2 {
  position: fixed;
  bottom: 440px;
  right: 20px;
  width: 160px;
  height: 80px;
}

#img-cache {
  display:none;
}

